---
import Section from "../Section.astro";

---
<Section title="About me">
    <p class="text-muted-foreground">
        I am an accomplished Principal DevOps Engineer and Software Developer with over 20 years of experience, recognized for my expertise in developing and supporting enterprise software systems, streamlining processes, and implementing technical improvements across various platforms.
    </p>
    <p class="text-muted-foreground">
        My career has been marked by my ability to excel in configuration management, software performance tuning, optimizing mission-critical deployments, and leveraging Infrastructure as Code (IaC). My technical proficiency spans complex data projects, cloud platforms, database modeling, blockchain technology, and systems security, with a track record of providing comprehensive deliverables aligned with business objectives.
    </p>
    <p class="text-muted-foreground">
        Throughout my career, I have built a reputation for delivering significant improvements in operational efficiencies and cost savings through strategic project leadership and innovative solutions. With excellent verbal and written global communication skills, I effectively collaborate with cross-functional teams, translating technical concepts into accessible language for diverse audiences worldwide.
    </p>
</Section>