---
import Section from "../Section.astro";

---
<Section title="About me">
    <p class="text-muted-foreground">
        Accomplished Principal DevOps Engineer and Strategic International Technical Solutions Leader with over 20 years of experience. Expertise spans designing, developing, and implementing scalable software solutions, managing complex data projects, and overseeing cloud platforms. Proficient in database modeling and systems security, with a track record of providing comprehensive deliverables aligned with business objectives. Skilled in network engineering, system administration, and directing large-scale IT initiatives for Fortune 100 companies. Exceptional communicator with cross-functional teams, and known for translating technical concepts into accessible language for diverse audiences internationally. Committed to delivering tangible value and optimizing operational efficiency.
    </p>
</Section>