---
import Card from "../Card.astro";
import Section from "../Section.astro";

---
<Section id="education" title="Education">
    <Card
        class="bg-background-secondary flex w-full flex-col gap-x-7 gap-y-1 p-5 text-secondary-foreground"
        heading="Thomas Edison State University"
        subheading="Bachelor of Science in Business Administration in Computer Information Systems"
        date="Sep 2007 - Jun 2008"
        altText="Completed degree in 9 months while working at full time job. See my story at http://personalmba.com/hacking-higher-education-mike-stankavich/"
    >
        <ul class="ml-4 list-disc text-muted-foreground">
            <li>
                Completed degree in 9 months while working a full time job. See my story at
                <a href="https://personalmba.com/hacking-higher-education-mike-stankavich/" target="_blank">
                    https://personalmba.com/hacking-higher-education-mike-stankavich/
                </a>
            </li>
        </ul>
    </Card>
</Section>