---
import Card from "../Card.astro";
import Section from "../Section.astro";
import cvData from './cvData.yaml';

---
<Section id="experience" title="Experience">
    {cvData.experience.map(role =>
      <Card
        class="bg-background-secondary flex w-full flex-col gap-x-7 gap-y-1 p-5 text-secondary-foreground"
        heading={role.company}
        subheading={role.title}
        date={role.dateRange}
        altText="Is this even used?"
      >
          <ul class="ml-4 list-disc text-muted-foreground">
              {role.description.map(bullet =>
                <li>{bullet}</li>
              )}
          </ul>
      </Card>
    )}
</Section>