---
import Card from "../Card.astro";
import Section from "../Section.astro";

---
<Section id="experience" title="Experience">
    <Card
        class="bg-background-secondary flex w-full flex-col gap-x-7 gap-y-1 p-5 text-secondary-foreground"
        heading="Senior Cloud Infrastructure Engineer (contract)"
        subheading="Enigma Technologies"
        date="Sept 2022 - Dec 2023"
        altText="Did a thing"
    >
        <ul class="ml-4 list-disc text-muted-foreground">
            <li>Orchestrated a comprehensive cloud infrastructure overhaul for a financial sanctions screening product, enhancing Gitlab CI/CD processes and securing sensitive data, improving operational efficiencies</li>
            <li>Designed, implemented, and maintained mechanisms to release and manage software in cloud environments, ensuring the integrity of software release mechanisms and infrastructure, accelerating time to value</li>
            <li>Collaborated across engineering, quality, and security teams to build robust automation, remove manual tasks, and prioritize security from design to deployment while ensuring compliance with regulatory requirements and policies</li>
            <li>Implemented DevSecOps practices by integrating security controls and best practices into the development lifecycle</li>
            <li>Built standard infrastructure services including containers, databases, network management abstracts, and resiliency, maintaining a roadmap that aligns infrastructure enhancements and automation efforts with business objectives</li>
            <li>Refactored and enhanced Terraform Gitops including directing module development and overseeing state realignment</li>
            <li>Developed and supported AWS ECS/ECR for robust container management and implemented AWS Secrets Manager</li>
            <li>Utilized make/just, shell scripting, Dockerfile, and Python to optimize pipeline efficiency, facilitating streamlined development processes and enhancing developer productivity</li>
            <li>Tuned PostgreSQL and Dagster for optimal performance and integrated Okta with ElasticSearch for secure dashboard access</li>
            <li>Designed and implemented robust CI/CD pipelines and microservices for AWS-hosted .NET SaaS applications</li>
        </ul>
    </Card>
    <Card
        class="bg-background-secondary flex w-full flex-col gap-x-7 gap-y-1 p-5 text-secondary-foreground"
        heading="Lorem Ipsum"
        subheading="amet consectetur adipisicing"
        date="June 2021 - Jan 2024"
        altText="Lorem, ipsum dolor sit amet"
    />

</Section>