---
import Section from "../Section.astro";
import SkillLayout from "../SkillLayout.astro";
import cvData from './cvData.yaml';

---
<Section id="skills" title="Skills">
    {Object.keys(cvData.skills).map(category =>
        <SkillLayout title={category} skills={cvData.skills[category]} />
    )}
</Section>