---
import { cn } from '@/utils'

const { class: className, title } = Astro.props
---

<section class='flex flex-col gap-y-5 py-5'>
	<div class='text-xl font-semibold text-secondary-foreground '>
		<h1 class="font-bold">{title}</h1>
	</div>
	<div class='flex flex-col gap-y-3'>
		<slot />
	</div>
</section>
