---
import Card from './Card.astro';
import IconText from './IconText.astro';
import { Image } from 'astro:assets';
import portrait from '../assets/portrait.png';
import IconWrapper from './IconWrapper.astro';
import Header from './layout/Header.astro';
---

<aside class="top-5 pt-16 flex flex-col items-center justify-center md:sticky md:col-span-1 md:h-screen md:pl-5">

		<Image
			src={portrait}
			alt="profile photo"
			class="bg-accent-200 z-10 h-56 w-auto rounded-3xl p-1"
			loading="eager"
		/>

		<Card class="bg-background-tertiary mt-[-6rem] p-5 w-full max-w-[400px]">
			<div class="flex flex-col items-center gap-y-4 pb-10 pt-24">
				<h1 class="text-3xl font-bold text-secondary-foreground">Lorem ipsum dolor</h1>
				<h3 class="text-xl text-secondary-foreground">Position</h3>

				<div class="flex flex-row gap-x-4 pb-3 pt-1">
					<IconWrapper icon="notion" class="bg-accent-200" />
					<IconWrapper icon="notion" class="bg-accent-200" />
					<IconWrapper icon="notion" class="bg-accent-200" />
					<IconWrapper icon="notion" class="bg-accent-200" />
				</div>
				<Card
					class="bg-background-secondary flex w-full flex-col gap-x-7 gap-y-1 p-5 text-secondary-foreground"
				>
					<IconText title="Phone" subTitle="+491235234" icon="arc" />
					<div class="border-t border-border"></div>
					<IconText title="Email" subTitle="max@mustermann.com" icon="arc" />
					<div class="border-t border-border"></div>
					<IconText title="Location" subTitle="Berlin" icon="arc" />
					<div class="border-t border-border"></div>
					<IconText title="Birthday" subTitle="10th July 1995" icon="arc" />
				</Card>
			</div>

			<a
				href="https://github.com/srleom/astro-theme-resume.git"
				class="bg-accent-200 hover:shadow-background-tertiary flex flex-row items-center justify-center gap-x-3 rounded-3xl border px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md"
			>
				<span class="relative flex items-center justify-center">
					<span
						class="absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75"
					></span>
					<span class="relative inline-flex h-2 w-2 rounded-full bg-green-400"></span>
				</span>

				<p class="font-medium">Download CV</p>
			</a>
		</Card>
</aside>
